@import url('../src/assets/fonts/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-family: roboto-regular, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --rs-primary-50: #f3edff;
  --rs-primary-100: #d9c8fa;
  --rs-primary-200: #c0a4f5;
  --rs-primary-300: #ac83f2;
  --rs-primary-400: #9761ed;
  --rs-primary-500: #8441e8;
  --rs-primary-600: #782fde;
  --rs-primary-700: #671cc9;
  --rs-primary-800: #530cab;
  --rs-primary-900: #3d0082;
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 20px;
}

::-webkit-scroll-thumb:horizontal {
  min-height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}


.roboto-black {
  font-family: 'roboto-black', sans-serif !important;
}

.roboto-bold {
  font-family: 'roboto-bold', sans-serif !important;
}

.roboto-medium {
  font-family: 'roboto-medium', sans-serif !important;
}

.roboto-light {
  font-family: 'roboto-light', sans-serif !important;
}

.roboto-regular {
  font-family: 'roboto-regular', sans-serif !important;
}

.roboto-thin {
  font-family: 'roboto-thin', sans-serif !important;
}
