@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../src/assets/fonts/fonts.css');

:root {
  font-family: roboto-regular, sans-serif;
    line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch
}

::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border-radius: 10px;
}

::-webkit-scroll-thumb:horizontal {
  min-height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 10px;
}

.roboto-black {
  font-family: roboto-black !important;
}

.roboto-bold {
  font-family: roboto-bold !important;
}

.roboto-medium {
  font-family: roboto-medium !important;
}

.roboto-light {
  font-family: roboto-light !important;
}

.roboto-regular {
  font-family: roboto-regular !important;
}

.roboto-thin {
  font-family: roboto-thin !important;
}